VPS_IP=your.vps.ip.address
DOCKER_HOST=
MONGO_URL=mongodb://mongodb:27017
SECRET_KEY=generate-a-random-string
CORS_ORIGINS=http://localhost:3000,http://your.vps.ip.address:3000
FIREFOX_UI_PORT=5800
FIREFOX_VNC_PORT=5900
